
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h3><b>Forms - HTTPGET Method</b></h3>
        @using (Html.BeginForm("Submit", "Student", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>Enter ID: </td>
                    <td>@Html.TextBox("Ma")</td>
                </tr>
                <tr>
                    <td>Enter Name: </td>
                    <td>@Html.TextBox("Ten")</td>
                </tr>
                <tr>
                    <td>Enter Name: </td>
                    <td>@Html.TextBox("Tuoi")</td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit"></td>
                </tr>
            </table>
        }
        <h4 style="color:purple">
            ID: @ViewBag.Id<br />
            Name: @ViewBag.Name<br />
        </h4>
    </div>
</body>
</html>
